#id0 {
  background-color: black;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#id1 {
  background-image: url("lucky.jpg");
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 100px;
}

#id2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 100px;
  color: white;
}

#id3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;
  color: white;
}

#id4 {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

#id4a {
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
  box-shadow: 1px 1px 5px rgb(75, 75, 75);
  border: 2px solid black;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#id4b {
  background-color: rgb(0, 0, 0);
  margin-right: 10px;
  margin-left: 10px;
  box-shadow: 1px 1px 5px rgb(75, 75, 75);
  border: 2px solid black;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#id4c {
  background-color: rgb(0, 0, 0);
  margin-left: 10px;
  box-shadow: 1px 1px 5px rgb(75, 75, 75);
  border: 2px solid black;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
